/* FONTS */

@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
/* GLOBAL STYLES */

:root {
  --font-primary: "Koulen", Regular;
  --font-secondary: "Poppins", sans-serif;
  --font-code: "Roboto", monospace;
  --bg-color: #e72828;
  --bg-color-transparent: #2e2e2e;
  --bg-color-white:#ffffff;
  --font-color: #ffffff;
  --btn-bg-color: #ffffff;
  --accent-color: #dd3131;
  --header-shadow: var(--accent-color) 0px 0px 5px;
  --card-shadow: var(--accent-color) 0px 0px 20px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image:url('/images/background/background1.png'); background-repeat:no-repeat;
  /*background-color: var(--bg-color);*/
  display: flex;
  background-size: cover;
  flex-flow: column;
  height: 100%;
  background-position: center;
  color: var(--font-color);
  font-family: var(--font-primary);
}

.content-wrapper{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

img{
  max-width: 100%;
}

#img1{
  margin-left: -60%;
  width: 50%;
}

#img2{
  width: 100%;
}

#img3{
  display:none;
}

#img4{
  position: absolute;
  right: 70%;
}

#img5{
  position: absolute;
  left: 65%;
  bottom: -3%;
  
}

#logoimg{
  position: absolute;
  top: 10%;
  width: 10%;  
}


.leftposition {
  position: absolute;
  /*top: 20%;*/
  left: 50%;
  transform: translate(-10%);
}

.rightposition {
  position: absolute;
  /*top: 20%;*/
  right: 40%;
  padding: 5%;
  /*transform: translate(50%);*/
}

.container {
  display: flex;
  flex-direction: column;
  max-width: none;
  /*max-width: 960px;*/
  margin: 0 auto;
  padding: 1rem 2rem;
  justify-content: center;
  overflow: hidden;
  position:relative;
}

.containerH {
  display: flex;
  flex-direction: row;
  max-width: none;
  /*max-width: 960px;*/
  margin: 0 auto;
  padding: 1rem 2rem;
  justify-content: space-between;
  align-items:center;
}


.container2 {
  display: flex;
  flex-direction: column;
  max-width: none;
  /*max-width: 960px;*/
  margin: 0 auto;
  padding: 1rem 2rem;
  justify-content: center;
  overflow: hidden;
}

/* HEADER */

header {
  background-color: var(--bg-color);
  box-shadow: var(--header-shadow);
  position: sticky;
  width: 100%;
  top: 0px;
  z-index: 2;
}

header .container2 {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  gap: 2rem;
  align-items: center;
}

/* NOT CONNECTED */
.not-connected {
  align-items: center;
  /*height: 100%;*/
  text-align: center;
  opacity: 0;
  padding: 20%;
  /*transform: translateY(40%);*/
  transition: all 1s ease-in-out;
  background-color: var(--bg-color);
  /*background: rgba(255, 0, 0, 1);*/
  /*border-radius: 25px;*/
  max-width: 100%;/*900px;*/
  justify-content: center;
  display: flex;
  /*table-layout: fixed; width: 95%;*/
}

.show-not-connected {
  opacity: 1;
  /*transform: translateY(50%);*/
}

.not-connected h1 {
  text-shadow: 2px 2px 0 var(--accent-color);
  font-style: italic;
  margin: 2rem 0;
  font-size: 2.8rem;
}

.not-connected p {
  font-size: 1.1rem;
  font-family: var(--font-primary);
  line-height: 1.0;
}

.not-connected a {
  text-decoration: none;
  color: var(--accent-color);
  font-size: 0.8rem;
  font-weight: bold;
}

.section2 {
    height: 100%;
    /*text-align: center;*/
    opacity: 0;
    padding: 5%;
    /* transform: translateY(40%); */
    transition: all 1s ease-in-out;
    transition-delay: 0.5s;
    background: #ffffff;
    /* border-radius: 25px; */
    max-width: 100%;
    display: flex;
    table-layout: fixed;
    width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.show-section2 {
  opacity: 1;
  /*transform: translateY(50%);*/
}

.section2 h1 {
  /*text-shadow: 2px 2px 0 var(--accent-color);*/
  /*font-style: italic;
  margin: 2rem 0;*/
  font-size: 2.8rem;
  letter-spacing: 1.5px;
  color:var(--bg-color)
}

.section2 p {
  font-size: 1.5rem;
  font-family: var(--font-secondary);
  color: var(--bg-color-transparent);
  line-height: 1.0;
  letter-spacing: 0.1rem;
}

.section2 a {
  text-decoration: none;
  color: var(--accent-color);
  font-size: 0.8rem;
  font-weight: bold;
}


.section3 {
  align-items: start;
  height: 100%;
  text-align: center;
  opacity: 0;
  /*padding: 5%;
  transform: translateY(40%);*/
  transition: all 1s ease-in-out;
  transition-delay: 0.5s;
  background: rgba(58, 0, 0, 1);
  /*border-radius: 25px;*/
  max-width: 100%;/*900px;*/
  justify-content: left;
  display: flex;
  flex-direction:row;
  align-items: center;
  table-layout: fixed; width: 100%;
}

.show-section3 {
  opacity: 1;
  /*transform: translateY(50%);*/
}

.section3 h1 {
  text-shadow: 2px 2px 0 var(--accent-color);
  margin: 2rem 0;
  font-size: 2.8rem;

}

.section3 p {
  font-size: 1.5rem;
  font-family: var(--font-secondary);
  line-height: 1.0;
  letter-spacing: 0.1rem;
}

.section3 a {
  text-decoration: none;
  color: var(--accent-color);
  font-size: 0.8rem;
  font-weight: bold;
}


.section4 {
  align-items: center;
  height: 100%;
  text-align: center;
  opacity: 0;
  padding: 10%;
  /*transform: translateY(40%);*/
  transition: all 1s ease-in-out;
  transition-delay: 0.5s;
  background: rgba(255, 46, 46, 1);
  /*border-radius: 25px;*/
  max-width: 100%;/*900px;*/
  justify-content: center;
  display: flex;
  table-layout: fixed; width: 100%;
}

.show-section4 {
  opacity: 1;
  /*transform: translateY(50%);*/
}

.section4 h1 {
  font-size: 2.8rem;
  letter-spacing: 1.5px;
  color:var(--bg-color-transparent);
  margin-top: -10%;
  margin-bottom: 5%;
  text-shadow: 2px 2px white;
}

.section4 h2 {
  font-size: 1.5rem;
  letter-spacing: 1.5px;
  position:inherit;
  color:var(--bg-color-white);
}

.ul1 {
  font-size: 1.1rem;
  font-family: var(--font-secondary);
  line-height: 1.5;
  text-align: left;
  position: inherit;
  text-shadow: 0px 0px rgb(0 0 0);

}

.ul2 {
  font-size: 1.1rem;
  font-family: var(--font-secondary);
  line-height: 1.5;
  text-align: left;
  position: inherit;
}

.ul3 {
  font-size: 1.1rem;
  font-family: var(--font-secondary);
  line-height: 1.5;
  text-align: left;
  position: inherit;
}

.section4 ul2 {
  font-size: 1.1rem;
  font-family: var(--font-secondary);
  line-height: 1.5;
  text-align: left;
  margin-top: 15%;
  position: absolute;
}

.section4 a {
  text-decoration: none;
  color: var(--accent-color);
  font-size: 0.8rem;
  font-weight: bold;
}

.section5 {
  align-items: start;
  height: 100%;
  text-align: center;
  opacity: 1;
  /*padding: 5%;
  transform: translateY(40%);*/
  transition: all 1s ease-in-out;
  transition-delay: 0.5s;
  background: rgba(58, 0, 0, 1);
  /*border-radius: 25px;*/
  max-width: 100%;/*900px;*/
  justify-content: left;
  display: flex;
  flex-direction:row;
  align-items: center;
  table-layout: fixed; width: 100%;
}



.section6 {
  align-items: center;
  height: 100%;
  text-align: center;
  opacity: 0;
  padding: 5%;
  /*transform: translateY(40%);*/
  transition: all 1s ease-in-out;
  transition-delay: 0.5s;
  background: rgba(255, 46, 46, 1);
  /*border-radius: 25px;*/
  max-width: 100%;/*900px;*/
  justify-content: center;
  display: flex;
  table-layout: fixed; width: 100%;
}

.show-section6 {
  opacity: 1;
  /*transform: translateY(50%);*/
}

.section6 h1 {
  font-size: 2.8rem;
  letter-spacing: 1.5px;
  color:var(--bg-color-transparent);
  margin-top: -6%;
  text-shadow: 2px 2px white;
}

.section6 h2 {
  font-size: 1.5rem;
  letter-spacing: 1.5px;
  position:inherit;
  color:var(--bg-color-white);
}

.section7 {
  align-items: center;
  height: 100%;
  text-align: center;
  opacity: 0;
  /*transform: translateY(40%);*/
  transition: all 1s ease-in-out;
  transition-delay: 0.5s;
  background: rgb(0, 0, 0);
  /*border-radius: 25px;*/
  max-width: 100%;/*900px;*/
  justify-content: center;
  display: flex;
  table-layout: fixed; width: 100%;
}

.show-section7 {
  opacity: 1;
  /*transform: translateY(50%);*/
}

/* BUTTONS */

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  background: var(--btn-bg-color);
  color: var(--accent-color);
  font-family: var(--font-secondary);
  font-style: italic;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  transition: all 0.3s ease;
  box-shadow: var(--header-shadow);
  cursor: pointer;
  position: relative;
  text-decoration: none;
  outline: none;
}
.btn:hover {
  box-shadow: none;
}
.btn:disabled {
  cursor: default;
}

.wallet-btn {
  border-radius: 5rem;
  margin-left: 2rem;
  border-color: transparent;
}

.hero-btn {
  border-radius: 4px;
  font-size: 1.2rem;
  padding: 1.5rem 3rem;
}

/* CARD */

.card {
  position: relative;
  background-color: var(--bg-color);
  border-radius: 5px;
  border: 3px solid var(--accent-color);
  box-shadow: var(--card-shadow);
  padding: 5rem;
  margin-bottom: 2rem;
  opacity: 0;
  transform: translateX(100vw);
  transition: all 0.5s ease-in-out;
}

.show-card {
  opacity: 1;
  transform: translateX(0);
}

/* COUNTDOWN SECTION */

section {
  flex: 1 1 auto;
}

#countdown {
  display: none;
  text-align: center;
}

.countdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.countdown ul {
  display: flex;
  gap: 2rem;
}
.countdown .clock-item {
  list-style: none;
  width: 70px;
  height: auto;
}
.countdown .clock-item .count-number {
  background: var(--accent-color);
  color: var(--font-color);
  font-size: 2rem;
  font-weight: 700;
  font-family: var(--font-secondary);
  padding: 1rem;
  display: inline-block;
  width: 100%;
  text-align: center;
  line-height: 1;
  border-radius: 4px 4px 0 0;
}
.countdown .clock-item .count-text {
  background: var(--btn-bg-color);
  font-family: var(--font-secondary);
  font-size: 1.1rem;
  color: var(--bg-color);
  padding: 0.5rem 0.7rem;
  display: inline-block;
  width: 100%;
  text-align: center;
  line-height: 1;
  border-radius: 0 0 4px 4px;
}

.countdown h1 {
  text-shadow: 2px 2px 0 var(--accent-color);
  font-style: italic;
  margin: 2rem 0;
  font-size: 3.5rem;
  text-align: center;
}

.countdown h2 {
  margin-top: 1rem;
}

.countdown > p {
  font-size: 1.1rem;
  font-family: var(--font-secondary);
  margin-bottom: 2rem;
  text-align: center;
}

/* MINT CONTAINER */

.mint-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
}

.mint-qty {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--accent-color);
  border-radius: 5px;
}

.mint-qty > span {
  display: flex;
}

.mint-btn {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin: auto;
}

.input-number {
  height: 100%;
  padding: 1rem;
  vertical-align: top;
  text-align: center;
  outline: none;
}

.input-number,
.input-number-decrement,
.input-number-increment {
  user-select: none;
}

.total-price-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 0 2rem;
}

.total-price-container p {
  color: var(--accent-color);
}

/* MINTED CONTAINER */

.minted-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.minted-container h1 {
  font-size: 5rem;
  margin-bottom: 2rem;
}

.minted-container h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.minted-container p {
  margin: 1rem 0;
}

/* SLIDDER */

.splide {
  position: absolute;
  top: 90px;
  left: 5rem;
  z-index: -1;
  display:none;
  
}

.splide__slide {
  border: var(--accent-color) solid;
  border-width: 5px 10px;
}

.splide__slide img {
  width: 100%;
}

/* SPINNER */
.dot-spin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(3);
}

/* MEDIA QUERIES */


@media screen and (max-width: 1040px) {
  .menu {
    gap: 1rem;
  }
  .wallet-btn {
    margin-left: 0;
    padding: 0.5rem 1rem;
    max-width: 8rem;
  }
  .not-connected {
    /*background-color: var(--bg-color-transparent);*/
    border-radius: 5px;
    /*padding: 2rem;*/
    margin: 0 auto;
  }
  .countdown ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .countdown .clock-item {
    width: 100%;
  }
  .countdown .clock-item .count-number {
    font-size: 1.5rem;
  }
  .countdown .clock-item .count-text {
    font-size: 1rem;
  }
  .countdown h1 {
    font-size: 2rem;
    margin: 1rem 0;
  }
  .countdown h2 {
    padding-top: 0.5rem;
  }
  .countdown p {
    font-size: 1rem;
  }
  .card {
    padding: 1rem;
  }
  .mint-qty .btn {
    padding: 1rem;
    font-size: 13px;
  }

  .leftposition {
    position: unset;
    /*top: 20%;*/
    left: 50%;
    transform: translate(0%);
  }
  
  .section2 h1 {
    text-align:center;
  }

  .section2 p {
    font-size: 1.2rem;
    line-height: 1.3;
    text-align: center;
  }

  .section3{
    flex-direction:column;
  }

  .section3 p{
    font-size: 1.2rem;
  }

  .rightposition{
    position: unset;
    left: 50%;
    margin-top: -30%;
    transform: translate(0%);
  }

  #img1 {
    margin-left: 0%;
    width: 100%;
  }

  #img2{
    display: none;
  }

  #img3{
    display: block;
    width: 100%;
  }
  
  #img4{
    position: inherit;
    right: 0%;
    width: 100%;
  }

  #img5{
    position: inherit;
    left: 0%;
    width:100%;
  }

  #logoimg{
    position: absolute;
    top: 10%;
    left: 1%;
    width: 20%;  
  }
}

/* UTILITIES */

.hidden {
  display: none;
}
